---
export interface Props {
    id: string;
    author: string;
    authorImage: string;
    date: string;
    postImage: string;
    description: string;
    likes: number;
}

const { id, author, authorImage, date, postImage, description, likes } =
    Astro.props;
let currentLikes = likes;
---

<div data-post-id={`${id}`} class="p-5 border border-gray-700 rounded-[20px] mb-5">
    <div class="flex items-center">
        <img class="w-[40px] rounded-full" id={`author-image-${id}`} src={authorImage} alt="Author" />
        <div class="ml-2">
            <h1>{author}</h1>
        </div>
    </div>
    <div class="my-4 relative w-full">
        <img class="rounded-[30px] w-full" id={`post-image-${id}`} src={postImage} alt="Post image" />
        <h2 class="absolute top-0 right-0 m-3 bg-black rounded-full p-2 px-6 border-2 text-sm" id={`post-date-${id}`}>
            {date}
        </h2>
    </div>
    <ul>
        <button id={`like-button-${id}`} class="flex items-center">
            <img
                class="w-[25px] mr-3"
                src="/icons/love.svg"
            />
            <span id={`likes-count-${id}`}>{currentLikes}</span>
        </button>
    </ul>
    <div class="mt-4">
        <p id={`post-description-${id}`}>{description}</p>
    </div>

    <script>
        // Selecciona todos los elementos con el atributo `data-post-id`
        let postElements = document.querySelectorAll("[data-post-id]");

        postElements.forEach((postElement) => {
            let id = postElement.getAttribute("data-post-id");
            let btnLike = document.getElementById(`like-button-${id}`);
            let likesCountElement = document.getElementById(
                `likes-count-${id}`,
            );

            console.log(btnLike);

            async function clickLike() {
                const settings = {
                    method: "POST",
                    headers: {
                        Accept: "application/json",
                        "Content-Type": "application/json",
                    },
                };
                try {
                    const fetchResponse = await fetch(
                        `https://dyt.pythonanywhere.com/aumentar-like/${id}`,
                        settings,
                    );
                    const data = await fetchResponse.json();
                    console.log(data);

                    // Actualiza el contador de likes en la interfaz de usuario
                    if (data.likes !== undefined) {
                        likesCountElement.textContent = data.likes;
                    }

                    return data;
                } catch (e) {
                    console.error(e);
                    return e;
                }
            }

            btnLike.addEventListener("click", clickLike);
        });
    </script>
</div>
